<%= form_with model: @user, url: @path  do |form| %>
  <% if @user.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% @user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mt-4 flex justify-center">
    <%= form.text_field :username, placeholder: "Username", class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mb-3" %>
  </div>

  <div class="flex justify-center">
    <%= form.text_field :email, placeholder: "Email", class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mb-3" %>
  </div>

  <div class="mb-4 flex justify-center">
    <%= form.password_field :password, placeholder: "Password", class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mb-3" %>
  </div>
  
  <div class="flex justify-center">
    <% if action_name == "new" || action_name == "create" %>
      <%= form.button heroicon("plus"), class: "form-button" %>
    <% elsif action_name == "update" || action_name == "edit" %>
      <%= form.button (heroicon "pencil-alt"), class: "form-button" %>
    <% end %>
  </div>

<% end %>