<div id="<%= dom_id post %>">
  <div class="shadow-2xl py-4 px-8 mb-8 rounded-lg bg-white">
    <div class="flex justify-end">

    <% if signed_in? %>
      <%= link_to (heroicon "pencil-alt"), edit_post_path(post), class: "group-button" if signed_in? %>
      <%= button_to (heroicon "trash"), post_path(post), method: :delete, class: "group-button rounded-r-lg" if signed_in? %>
    <% end %>

    </div>
    <div class="my-5">
      <div id="header" class="grid grid-cols-2">
        <h1 class="font-bold text-4xl">
          <%= link_to post.title, post_path(post.id), class: "hover:text-gray-700" %>
        </h1>
        <div class="flex justify-end items-center">
          <div class="grid grid-flow-col">
            <% if post.user.nil? %>
              <span class="px-2 mr-2 text-xs rounded-2xl shadow-2xl text-white font-bold bg-gray-900">nil</span>
            <% elsif post.user.username.nil? %>
              <span class="px-2 mr-2 text-xs rounded-2xl shadow-2xl text-white font-bold bg-gray-900"><%= post.user.email[0..4] %></span>
            <% else %>
              <%= link_to post.user.username, user_path(post.user), class: "px-2 mr-2 text-xs rounded-2xl shadow-2xl text-white font-bold bg-gray-900" %>
            <% end %>

            <div class="draft published archived trashed"></div>
            <span class="px-2 text-xs rounded-2xl shadow-2xl text-white font-bold <%= post.status %>">
              <%= post.status.capitalize %>
            </span>
          </div>
        </div>
      </div>
    </div>

    <div class="my-5">
      <%= post.body %>
    </div>

    <div class="my-5 py-2  text-gray-400 text-xs grid grid-cols-2 grid-rows-1">
      <div class="flex justify-start">
        <%= pluralize post.comments.size, "comment"%>
      </div>
      <div class="flex justify-end">
        <%= time_tag post.created_at, "data-local": "time-ago" %>
      </div>
    </div>
  </div>
  
</div>
